header{
    background-image:url(/img/vegetable3.jpg);
    height:70vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover ;
} 

.initiative  h1{
    font-size: 2em;
}
.initiative p{
    color: #555555;
}